node_modules
package-lock.json
.env
coverage
coverage.json
typechain
typechain-types

#Hardhat files
cache
artifacts
#starknet-artifacts
starknet-artifacts/

#ts
out

README.md.backup
scripts/tests/
contracts/ArgentX/
